* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .menuicon {
        display: none;
    }
    .navbar ul {
        display: flex;
        gap: 20px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .scrollline {
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }
    .navbar a:hover {
        color: #0457c7;
        font-weight: bold;
    }

    /* ------first section------ */
    .first {
        padding: 40px;
    }
    .text {
        padding: 40px 300px;
        background-color: #0457c7;
        color: #fff;
        text-align: center;
    }
    .text h2 {
        font-size: 40px;
    }

    /* ------Map------ */
    .allmap {
        width: 100%;
        height: 600px;
    }

    /* ------second section */
    .second{
    position: relative;
    background-color: #0457c7;
    height: 150px;
    width: 100%;

    }
    .allsecond {
    position: relative;
    margin-top: 30px;
    padding: 60px;

    }
    .seconddtext p {
    color: #000;
    margin-bottom: 10px;
    }
    .seconddtext h2 {
    margin-bottom: 5px;
    font-size: 40px;
    }
    .contact {
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    } 
    .c1 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    }
    .c1 button {
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0457c7;
    color: #fff;
    border-radius: 20px;

    }
    .c1 button:hover {
    background-color: #fff;
    color: #0457c7;
    }
    .c1 input {
    width: 660px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 10px;    
}
    .c1 label {
    margin: 10px 0 5px 0;
    }
    .c2 {
    max-width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    }
    .location, .call, .email, .website {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    /* ------Footer------ */

    footer {
        margin-top: 40px;
        background-color: #000;
        padding: 60px 80px 60px 60px;
    }
    .allfooter {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }
    .links {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }
    .links ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .flinks li {
        list-style: none;
    }
    .flinks a {
        text-decoration: none;
        color: #fff;
    }

    .socialicons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .socials {
        height: 30px;
    }
    .c4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .location, .call, .email, .website {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .sidemenu {
        display: none;
    }
}


/* -------Tablet Responsiveness------ */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .menuicon {
        display: none;
    }
    .navbar ul {
        display: flex;
        gap: 20px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .navbar a:hover {
        color: #0457c7;
        font-weight: bold;
    }
    .scrollline {
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }

    /* ------first section------ */
    /* .first {
        padding: 40px;
    } */
    .text {
        padding: 40px;
        background-color: #0457c7;
        color: #fff;
        text-align: center;
    }
    .text h2 {
        font-size: 40px;
    }

    /* ------Map------ */
    .allmap {
        width: 100%;
        height: 600px;
    }

    /* ------second section */
    .second{
    position: relative;
    background-color: #0457c7;
    height: 150px;
    width: 100%;

    }
    .allsecond {
    position: relative;
    margin-top: 30px;
    padding: 60px;

    }
    .seconddtext p {
    color: #000;
    margin-bottom: 10px;
    }
    .seconddtext h2 {
    margin-bottom: 5px;
    font-size: 40px;
    }
    .contact {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 50px;
    } 
    .c1 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    }
    .c1 button {
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0457c7;
    color: #fff;
    border-radius: 20px;

    }
    .c1 button:hover {
    background-color: #fff;
    color: #0457c7;
    }
    .c1 input {
    width: 610px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 10px;
    }
    .c1 label {
    margin: 10px 0 5px 0;
    }
    .c2 {
    max-width: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    }
    .location, .call, .email, .website {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    /* ------Footer------ */

    footer {
    margin-top: 40px;
    background-color: #000;
    padding: 60px 80px 60px 60px;
    }
    .allfooter {
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 40px;
    }
    .ftlogo {
    height: 107px;
    }
    .links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    }
    .links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .flinks li {
    list-style: none;
    }
    .flinks a {
    text-decoration: none;
    color: #fff;
    }
    
    .socialicons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .socials {
    height: 30px;
    }
    .c4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .sidemenu {
        display: none;
    }
}

/* ------Smartphone Responsiveness------ */

@media screen and (max-width: 767px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .menuicon {
        display: block;
    }
    .navbar ul {
        /* display: flex;
        gap: 20px; */
        display: none;
    }
    .logo {
        height: 45px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .scrollline {
        display: none;
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }

    /* ------first section------ */
    /* .first {
        padding: 40px;
    } */
    .text {
        padding: 40px;
        background-color: #0457c7;
        color: #fff;
        text-align: center;
    }
    .text h2 {
        font-size: 40px;
    }

    /* ------Map------ */
    .allmap {
        width: 100%;
        height: 600px;
    }

    /* ------second section */
    .second{
    position: relative;
    background-color: #0457c7;
    height: 150px;
    width: 100%;

    }
    .allsecond {
    position: relative;
    margin-top: 30px;
    padding: 30px;

    }
    .seconddtext p {
    color: #000;
    margin-bottom: 10px;
    }
    .seconddtext h2 {
    margin-bottom: 5px;
    font-size: 40px;
    }
    .contact {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 50px;
    } 
    .c1 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    .c1 button {
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0457c7;
    color: #fff;
    border-radius: 20px;
    }
    .c1 button:hover {
    background-color: #fff;
    color: #0457c7;
    }
    .c1 input {
    height: 30px;
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 10px;
    }
    .c1 label {
    margin: 10px 0 5px 0;
    }
    .c2 {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    }
    .location, .call, .email, .website {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    /* ------Footer------ */

    footer {
    margin-top: 40px;
    background-color: #000;
    padding: 30px;
    }
    .allfooter {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: #fff;
    gap: 40px;
    }
    .flogo {
        display: flex;
        justify-content: center;
    }
    .ftlogo {
    height: 107px;
    }
    .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 50px;
    }
    .links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .flinks li {
    list-style: none;
    }
    .flinks a {
    text-decoration: none;
    color: #fff;
    }

    .socialicons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .socials {
    height: 30px;
    }
    .c4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    
    .flocation, .fcall, .femail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }

    /* Hamburger Menu */

    .sidemenu {
        width: 100vw;
        height: 50vh;
        background-color: #0457c7;
        display: none;
        position: fixed;
        z-index: 2;
    }
    .sidemenuh {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
    }
    .logo1 {
        height: 45px;
    }
    .side {
        margin-top: 60px;
    }
    .side ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* font-weight: bold; */
        font-size: 30px;
    }
    .side li {
        list-style: none;
    }
    .side a {
        color: #fff;
        text-decoration: none;
    }
    .hamburgercloseicon {
        height: 30px;
    }
}