* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .menuicon {
        display: none;
    }
    .navbar ul {
        display: flex;
        gap: 20px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .scrollline {
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }
    .navbar a:hover {
        color: #0457c7;
        font-weight: bold;
    }

    /* ------first section------ */

    .allfirst {
    max-width: 100%;
    padding: 80px 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    .lefttextt {
        max-width: 50%;
        padding-right: 100px;
    }
    .lefttextt h1 {
        font-size: 70px;
    }
    .rightimage {
        max-width: 50%;
    }

    /* ------Footer------ */

    footer {
        margin-top: 40px;
        background-color: #000;
        padding: 60px 80px 60px 60px;
    }
    .allfooter {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }
    .links {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }
    .links ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .flinks li {
        list-style: none;
    }
    .flinks a {
        text-decoration: none;
        color: #fff;
    }

    .socialicons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .socials {
        height: 30px;
    }
    .c4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .location, .call, .email, .website {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sidemenu {
        display: none;
    }
}


/* -------Tablet Responsiveness------ */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }
    .menuicon {
        display: none;
    }
    .navbar ul {
        display: flex;
        gap: 20px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .navbar a:hover {
        color: #0457c7;
        font-weight: bold;
    }
    .scrollline {
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }

    /* ------first section------ */

    .allfirst {
    max-width: 100%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }
    .lefttextt h1 {
        font-size: 70px;
        text-align: center;
    }


    /* -----Footer------ */
    footer {
    margin-top: 40px;
    background-color: #000;
    padding: 60px 80px 60px 60px;
    }
    .allfooter {
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 40px;
    }
    .ftlogo {
    height: 107px;
    }
    .links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    }
    .links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    .flinks li {
    list-style: none;
    }
    .flinks a {
    text-decoration: none;
    color: #fff;
    }
    
    .socialicons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .socials {
    height: 30px;
    }
    .c4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .sidemenu {
        display: none;
    }
}


/* ------Smartphone Responsiveness------ */

@media screen and (max-width: 767px) {
    header {
        position: relative;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .menuicon {
        display: block;
    }
    .navbar ul {
        /* display: flex;
        gap: 20px; */
        display: none;
    }
    .logo {
        height: 45px;
    }
    .navbar li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .scrollline {
        display: none;
        height: 1px;
        width: 255px;
        background-color: black;
        position: absolute;
        top: 80px;
        right: 40px;
    }

        /* ------first section------ */

    .allfirst {
        max-width: 100%;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }
        .lefttextt h1 {
            font-size: 40px;
            text-align: center;
        }
        .icon {
            max-width: 100%;
        }

    /* -----Footer------ */
    footer {
        margin-top: 40px;
        background-color: #000;
        padding: 30px;
        }
        .allfooter {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        color: #fff;
        gap: 40px;
        }
        .flogo {
            display: flex;
            justify-content: center;
        }
        .ftlogo {
        height: 107px;
        }
        .links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 50px;
        }
        .links ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }
        .flinks li {
        list-style: none;
        }
        .flinks a {
        text-decoration: none;
        color: #fff;
        }
    
        .socialicons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        }
        .socials {
        height: 30px;
        }
        .c4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        }

    /* Hamburger Menu */

    .sidemenu {
        width: 100vw;
        height: 50vh;
        background-color: #0457c7;
        display: none;
        position: fixed;
        z-index: 2;
    }
    .sidemenuh {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
    }
    .logo1 {
        height: 45px;
    }
    .side {
        margin-top: 60px;
    }
    .side ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* font-weight: bold; */
        font-size: 30px;
    }
    .side li {
        list-style: none;
    }
    .side a {
        color: #fff;
        text-decoration: none;
    }
    .hamburgercloseicon {
        height: 30px;
    }
}